

<div class="modal fade" id="contact-form" tabindex="-1" role="dialog" aria-labelledby="contact-form-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      {% include contact-form.html %}
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://www.parsecdn.com/js/parse-latest.js"></script>
<script src="{{ "/assets/js/app.min.js" | prepend: site.baseurl }}"></script>
